$red: #C21221;
$lightGray: #f1f1f1;
$gray: #545454;
$darkGray: #212121;


/* ================================================== */
/* ====================== FONT ====================== */
/* ================================================== */
* {
	font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

/* ====================================================== */
/* ======================== ROOT ======================== */
/* ====================================================== */
#firstRow {
	height: 600px;
	.jumbotron {
		position: absolute;
		background: rgba(0, 0, 0, 0);
		color: white;
		h1 {
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-align: center;
		}
		left: calc((100% - 428px)/2)
	}
}