$red: #C21221;
$lightGray: #D3D3D3;

/* Top row on main page */
#topRow {
	height: 600px;
	background: url('https://d2oku4nz4qgjsk.cloudfront.net/7.JPG');
	background-repeat: no-repeat;
	background-size: 100%;

	.jumbotron {
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
		h1 {
			color: $red;
		}
		p {
			color: white;
		}
	}
}




.container {
	margin-top: 50px;


	#navRow {
		margin-top: 20px;
		margin-bottom: 20px;
		.btn-group {
			width: 100%;
			button {
				width: 25%;
			}
			button:hover {
				background: $red;
				color: white;
			}
		}
	}

	#mainDescriptionRow, #exampleRow {
		margin-top: 20px;
		img {
			width: 100%;
		}
		h1, h2 {
			color: $red
		}
		p {
			text-align: justify;
		}
	}

	#exampleRow {
		background: $lightGray;
		padding-top: 15px;
		margin: 15px 0px 15px 0px;
	}

	#map {
		height: 400px;
		width: 100%;
	}

	#footerRow {
		margin-top: 20px;
		margin-left: 0px;
		margin-right: 0px;
		.col-sm-12 {
			padding-top: 10px;
			padding-bottom: 10px;
			background: $red;
			color: white;
			font-size: small;
			.fa-map-marker {
				padding-right: 5px;
			}
			.fa-phone {
				padding-left: 20px;
				padding-right: 5px;
			}
		}
	}
}