<!-- Main Header -->
<div id='header'>
	<a ui-sref='root'>
		<img src='https://d2oku4nz4qgjsk.cloudfront.net/logo+white.png'>
	</a>
	<div id='links'>
		<a ui-sref='our_work'>
			<i class='fa fa-lg fa-gear'></i>What We Do
		</a>
		<a ui-sref='request_quote'>
			<i class='fa fa-lg fa-question'></i>Request Quote
		</a>
	</div>
</div>

<!-- Sub Header -->
<div id='subheader'>
	<table>
		<tr>
			<td>
				<a ui-sref='our_work'>
					<i class='fa fa-lg fa-gear'></i>What We Do
				</a>
			</td>
			<td>
				<a ui-sref='request_quote'>
					<i class='fa fa-lg fa-question'></i>Request Quote
				</a>
			</td>
		</tr>
	</table>
</div>