<div ng-include src='"_header.html"'></div>

<div class='container' id='requestQuote'>
	<div class='row'>
		<div class='col-lg-5 col-lg-offset-1' id='formCol'>
			<h3>Request Quote</h3>
			<form novalidate name='requestForm'>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-user'></i></span>
					<input type='text' ng-model='request.name' placeholder='Name' class='form-control' required />
				</div>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-building'></i></span>
					<input type='text' ng-model='request.company' placeholder='Company' class='form-control' required />
				</div>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-envelope'></i></span>
					<input type='email' ng-model='request.email' placeholder='Email' class='form-control' required />
				</div>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-phone'></i></span>
					<input type='tel' ng-model='request.phone' placeholder='Phone #' class='form-control' required />
				</div>
				<textarea rows='4' ng-model='request.message' placeholder='Project description' class='form-control'></textarea>
				<table ng-click='toggleUrgent()'>
					<tr>
						<td>
							<i class='fa fa-check' ng-show='request.urgent'></i>
						</td>
						<td>
							Urgent Job?
						</td>
					</tr>
				</table>
				 <input type='file' name='files' multiple>
				<button class='btn btn-danger' ng-disabled='requestForm.$invalid || requestForm.$pristine'>Submit</button>
			</form>
		</div>
		<div class='col-lg-4 col-lg-offset-1' id='contactCol'>
			<h3>Contact Us</h3>
			<iframe id='map' frameborder='0' src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC1fPI3Cyw4kRiq7dH56ZLo4&key=AIzaSyDpCFz5NKLeUGe2bkTFXrQ0inLkbupr67k' allowfullscreen></iframe>
			<span><i class='fa fa-lg fa-map-marker'></i>345 Market Street, Kenilworth, NJ 07033</span>
			<span email-link><i class='fa fa-lg fa-envelope'></i>inquiry@henryprecision.com</span>
			<span><i class='fa fa-lg fa-phone'></i>(908) 925-2218</span>
		</div>
	</div>
</div>

<div ng-include src='"_footer.html"'></div>