<div class='container'>
	<div class='row' id='headerRow'>
		<div class='col-sm-3'>
			<img src='http://www.henryprecision.com/pictures/HPMLOGO.png'>
		</div>
		<div class='col-sm-9'>
			<ul class='nav navbar-nav navbar-right'>
				<li>
					<a>
						<i class='fa fa-info'></i>About Us
					</a>
				</li>
				<li>
					<a>
						<i class='fa fa-gear'></i>Capabilities
					</a>
				</li>
				<li>
					<a>
						<i class='fa fa-question'></i>Other
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='row' id='navRow'>
		<div class='col-sm-12'>
			<div class='btn-group'>
				<button class='btn btn-dark'>A</button>
				<button class='btn btn-dark'>B</button>
				<button class='btn btn-dark'>C</button>
				<button class='btn btn-dark'>D</button>
			</div>
		</div>
	</div>
	<div class='row' id='mainDescriptionRow'>
		<div class='col-sm-6'>
			<img src='https://upload.wikimedia.org/wikipedia/commons/2/2f/M4_Inbusschraube_focusstacked.jpg'>
		</div>
		<div class='col-sm-6'>
			<h1>Welcome to Henry Precision Machining</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class='row' id='exampleRow'>
		<div class='col-sm-4'>
			<img src='http://img.directindustry.com/images_di/photo-g/torque-wrench-hydraulic-38815-2739579.jpg'>
			<h2>About Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class='col-sm-4'>
			<img src='http://img.directindustry.com/images_di/photo-g/torque-wrench-hydraulic-38815-2739579.jpg'>
			<h2>Capabilities</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class='col-sm-4'>
			<img src='http://img.directindustry.com/images_di/photo-g/torque-wrench-hydraulic-38815-2739579.jpg'>
			<h2>Other</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div id='map'></div>
	<div class='row' id='footerRow'>
		<div class='col-sm-12'>
			<div class='pull-left'>
				&copy; Henry Precision Machining, LLC
			</div>
			<div class='pull-right'>
				<i class='fa fa-lg fa-map-marker'></i>345 Market Street, Kenilworth, NJ 07033
				<i class='fa fa-lg fa-phone'></i>(908) 925-2218
			</div>
		</div>
	</div>
</div>