<!DOCTYPE html>
<!--[if IE 8]> <html lang='en' class='ie8'> <![endif]-->
<!--[if IE 9]> <html lang='en' class='ie9'> <![endif]-->
<!--[if !IE]><!--> <html lang='en'> <!--<![endif]-->

<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'/>
		<meta name='description' content='Emirates'>
		<meta name='author' content='Emirates'>

		<title>Emirates</title>

		<link href='assets/favicon.ico' rel='shortcut icon' />
		<link href='assets/icon.png' rel='apple-touch-icon' />
		<link href='assets/icon.png' rel='android-touch-icon' />

		<!-- Font Awesome -->
		<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		
		<!-- Bootswatch (Readable) -->
		<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css'>

		<!-- Application CSS -->
		<%= stylesheet_link_tag 'application', media: 'all' %>

		<!-- Allows for rendering in older versions of IE -->
		<!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
	</head>

	<base href='/'>

	<body>
		<%= yield %>
		<%= javascript_include_tag 'application' %>
	</body>
</html>